@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #ea8705;
  --primary-dark: rgba(255,255,255,0);
}
body {
  font-family: "Righteous";
}
.logo{
  width: 16.25rem;
}

/*=====menu=======*/
.navbar{
  background-color: dimgray;
}

nav a.nav-link {
  font-width: 500;
  letter-spacing: 0.0175rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.55rem;
  margin-left: 0.55rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
